<html><head>
    <title>Flipped | Discord.gg/Flipped</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta property="twitter:card" content="summary_large_image">
    <meta property="twitter:site" content="@ProjectFlippedFn">
    <meta property="twitter:site:id" content="@ProjectFlippedFn">
    <meta property="twitter:creator" content="@ProjectFlippedFn">
    <meta property="twitter:creator:id" content="@ProjectFlippedFn">
    <meta content="Flipped is a fortnite private hosting server that provides the best experience for all users" property="og:description">
    <meta content="https://Flippedfn.com" property="og:url">
    <meta data-react-helmet="true" href="https://media.discordapp.net/attachments/1175237541327274075/1175637805678985276/odid.jpg?ex=656bf507&is=65598007&hm=898457cab4a2310f5846fa9100d4b235d2d0ad8390e5c8e1a8c8cd4df3d9097c&=>
    <meta content="#9837F9" data-react-helmet="true" name="theme-color">
    <link rel="shortcut icon" href="https://media.discordapp.net/attachments/1175237541327274075/1175251623648444487/2fa0a9db5ad78bda424099711c3c410a.png?ex=656a8d5e&is=6558185e&hm=2427e70783c0587c1706cdaa969d4824bb5ae5e3f5e586bb33b3883db6c804f7&=" type="images/logo.png">
    <link rel="stylesheet" href="/style.css">
    <script src="js/bddbcbba89.js" crossorigin="anonymous"></script>
    <script src="js/home.js" defer=""></script>
  </head> 



    <body>
      <section class="TBD">
    <div class="NoSupport">
        <button type="button" onclick="location.href='discord.gg/Flipped'">DOWNLOAD NOW</button>
        <a href="https://discord.gg/Flipped"><i class="fa-brands fa-discord fa-xl" style="color: #686586;"></i></a>
  
        <div class="social">
            <a href="https://discord.gg/Flipped"><i class="fa-brands fa-discord"></i></a>
            <a href="https://twitter.com/projectFlippedfn"><i class="fa-brands fa-twitter"></i></a>
            <a href="https://www.tiktok.com/@projectFlippedfn"><i class="fa-brands fa-tiktok"></i></a>
            <a href="https://youtube.com/@ProjectFlippedFn"><i class="fa-brands fa-youtube"></i></a>
        </div>
    </div>
    <span class="circle"></span>
  </section>
        <section id="home" class="mainArea">
      <div class="main-width">
          <header>
              <div class="logo">
                  <h2><a href="#"><img class="headLogo" src="https://media.discordapp.net/attachments/1151341831565606983/1175683513605947452/2fa0a9db5ad78bda424099711c3c410a1-modified.png?ex=656c1f98&is=6559aa98&hm=a93dc7873bc7935b0ebcac933e103fd85deb3465df774ebdfd7455167a3ca26b&="><p class="Spacer">Flipped</p></a></h2>
              </div>
  
              <nav>
                  <ul>
                      <li class="active"><a href="#home">HOME</a></li>
                      <li><a href="#pricing">PLANS</a></li>
                      <li><a href="#dodnate">DONATE</a></li>
                      <li><a href="#faq">FAQ</a></li>
                      <li><a href="#download">DOWNLOAD</a></li>
                  </ul>
              </nav>
          </header>
  
          <div class="mainContent">
              <div class="main-text">
                  <p>Flipped is the only Chapter 3 Season 1 hosting server. We are the best server in existence!</p>
                  <button type="button" onclick="location.href='https://discord.gg/Flipped'">DOWNLOAD NOW</button>
                  <a href="https://discord.gg/Flippedfn"><i class="fa-brands fa-discord fa-xl" style="color: #686586;"></i></a>
                  <br>
                  <div class="main-text">
                      <i class="fa-brands fa-windows fa-lg" style="color:#686586"></i> <p class="p2">Windows (64bit)</p>
                  </div>
              </div>
              <div class="imageMain">
                  <img src="https://cdn.discordapp.com/attachments/1175237565968814090/1175682738586656839/againl.png?ex=656c1ee0&is=6559a9e0&hm=a34b03f09f45250535c6d27e3fc4f46cd1ae4bac5a8c5d140fdc160e9c207d14&">
              </div>
          </div>
      </div>
  </section>
  
          <section id="pricing">
    <div class="main-width">
    <div class="container">
        <div class="section-top">
            <h3 class="subheading">Pricing Table</h3>
            <h1 class="heading">Our Pricing Plan</h1>
            <p class="text-secondary">
                Our plans are designed to be affordable, flexible and reasonable for the perks you receive.
            </p>
        </div>
        <div class="pricing-table">
            <div class="pricing-item">
                <h3 class="subheading">Minimal</h3>
                <span><h1 class="heading">$10</h1>
          / month</span>
  
        <ul class="list-items">
        </ul>
        <button class="btn-action">Get Started</button>
      </div>
      <div class="pricing-item1">
        <div class="main-text">
            <p>MOST POPULAR</p>
        </div>
        <h3 class="subheading">Top</h3>
        <span><h1 class="heading">$15</h1>
          / month</span>
        <ul class="list-items">
        </ul>
        <button class="btn-action1">Get Started</button>
      </div>
      <div class="pricing-item">
        <h3 class="subheading">High</h3>
        <span><h1 class="heading">$20</h1>
          / month</span>
        <ul class="list-items">
        </ul>
        <button class="btn-action">Get Started</button>
      </div>
    </div>
  </div>
  </div>
  </section>
            <section id="dodnate" class="mainArea">
      <div class="main-width">
          <div class="donateContent">
              <div class="donate-text">
                  <h1>Donate to Flipped</h1>
                  <p>Donating to Flipped can be a great way to help us cover the monthly VPS charges.</p>
                  <button type="button" onclick="location.href='https://discord.gg/Flipped'">DONATE</button>
              </div>
              <div class="reasonable">
                  <div class="why">
                      <i class="fa-regular fa-circle-question fa-2x" style="color: #4c9efb;"></i>
                      <div class="main-text">
                          <h3>Why?</h3>
                          <p>By donating you are helping us cover the cost for many things not just the VPS but other things we pay so you can play.</p>
                      </div>
                  </div>
                  <br>
                  <div class="perk">
                      <i class="fa-solid fa-gift fa-2x" style="color: #4cd8fb;"></i>
                      <div class="main-text">
                          <h3>Perks!</h3>
                          <p>Donators will get cool exclusive perks. Here are some of the perks donators get, cool custom role in Flipped, image perms, private chat, and etc!</p>
                      </div>
                  </div>
                  <br>
                  <div class="safe">
                      <i class="fa-solid fa-shield-halved fa-2x" style="color: #4c9efb;"></i>
                      <div class="main-text">
                          <h3>Safety.</h3>
                          <p>Donating to Flipped is 100% safe. Once you donate you will automatically get your perks! If there are any issues with getting your perks please dm one of our managers or the owner himself!</p>
                      </div>
                  </div>
              </div>
          </div>
      </div>
  </section>
              <section id="faq" class="faqArea">
      <div class="faq-width">
          <div class="accordion">
              <div class="main-text">
                  <h3>FAQ</h3>
                  <h1>Frequently Asked Questions</h1>
                  <p>Common questions? Answered.</p>
              </div>
              <div class="accordion-item">
                <button id="accordion-button-1" aria-expanded="false">
                  <span class="accordion-title">How do I download?</span>
                  <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                  <p>
                      On this website or on our Discord server.
                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <button id="accordion-button-2" aria-expanded="false">
                  <span class="accordion-title">What platforms is Flipped available on?</span>
                  <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                  <p>
                      Currently only on Windows (64bit).
                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <button id="accordion-button-3" aria-expanded="false">
                  <span class="accordion-title">How can I report bugs to the Flipped development team?</span>
                  <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                  <p>
                      You can report bugs to the Flipped development team by joining the discord server
                  </p>
                </div>
              </div>
              <div class="accordion-item">
                <button id="accordion-button-4" aria-expanded="false">
                  <span class="accordion-title">How does Flipped differ from other game servers?</span>
                  <span class="icon" aria-hidden="true"></span>
                </button>
                <div class="accordion-content">
                  <p>
                      Flipped differs from other game servers by offering a versatile, gaming experience, community interaction, and customization options.
                  </p>
                </div>
              </div>
            </div>
          <script src="js/script.js"></script>
  </div></section>
                <section id="download" class="mainArea">
      <div class="main-width">
          <div class="mainContent">
              <div class="main-text1">
                  <h1>Play Flipped Today</h1>
                  <p>Download Flipped, the Ultimate Fortnite Server Experience!</p>
                  <button type="button" onclick="location.href='https://discord.gg/Flipped'">DOWNLOAD NOW</button>
              </div>
              <div class="imagePlay">
                  <img src="https://media.discordapp.net/attachments/1151341831565606983/1175679050107338763/flipped.png?ex=656c1b70&is=6559a670&hm=c0b69d4da4509b90db7b3521d30b93e8b5948e0e02f422be566e0bd5e6948b8b&=&width=932&height=524">
              </div>
              <div class="main-text2">
                  <p>Need to contact us? Check out our socials!</p>
              </div>
              <div class="social">
                  <a href="https://discord.gg/Flippedfn"><i class="fa-brands fa-discord"></i></a>
                  <a href="https://twitter.com/projectFlippedfn"><i class="fa-brands fa-twitter"></i></a>
                  <a href="https://www.tiktok.com/@projectFlippedfn"><i class="fa-brands fa-tiktok"></i></a>
                  <a href="https://youtube.com/@ProjectFlippedFn"><i class="fa-brands fa-youtube"></i></a>
              </div>
          </div>
      </div>
  </section>
    </body></html>
<style>
@import url('https://fonts.googleapis.com/css2?family=DM+Sans:wght@400;500;700&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: 'DM Sans', sans-serif;
    list-style-type: none;
}

body{
    overflow-x: hidden;
    background: #050046;
    scroll-behavior: smooth;
}

/* Not Supported */

.TBD{
    display: none;
}

/* Not Support end here */

.hide{
    display: none;
    opacity: 0;
    visibility: hidden;
    width: 0;
    height: 0;
    overflow: hidden;
}

::-webkit-scrollbar {
    width: 10px;
  }
  
  ::-webkit-scrollbar-track {
    background-color: #000030;
  }
   
  ::-webkit-scrollbar-thumb {
    background: #37f957; 
    transition: all .3s ease-in-out;
  }
  ::-webkit-scrollbar-thumb {
    background: #37f971; 
    transition: all .3s ease-in-out;
  }
  
  ::-webkit-scrollbar-thumb:hover {
    background: #00db2f; 
    border-radius: 100px;
    transition: all .3s ease-in-out;
  }

/*MAIN AREA*/

.mainArea{
    height: 500px;
    width: 100%;
    min-height: 100vh;
    background: #060233;
    position: relative;
}

/*Nav Bar*/

.main-width{
    width: 1400px;
    max-width: 90%;
    margin: 0 auto;
    color:#000030
}

/* left side */

.logo{
    align-items: center;
}

.headLogo{
    width: 35px;
    height: 35px;
}

.mainArea header .logo h2 a{
    display: flex;
    font-size: 25px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    justify-content: center;
    align-items: center;
}

.Spacer {
    position: relative;
    left: 10px;
}

/* center */

.mainArea header{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}

/* right side */

.ul{
    text-align: center;
}

nav ul li{
    list-style: none;
    display: inline-block;
}

nav ul li a{
    text-decoration: none;
    color:white;
    margin-left: 60px;
    font-size: 14px;
    font-weight: lighter;
    transition: .4s;
}

nav ul li a:active{
    transition: .4s;
}

nav ul li:not(:last-child) a:hover,
nav ul li:not(:last-child) a:focus{
    color: #3785f9;
}

nav ul li.active a{
    color: #3791f9;
}

/* Login button */

.btn{
    text-decoration: none;
    background: transparent;
    color: white;
    border: 1px solid #ffff;
    padding: 10px 30px;
    border-radius: 12px;
    line-height: 1.4;
    margin-left: 70px;
    transition: .4s;
    font-size: 14px;
    font-weight: 100;
}

.btn:hover{
    background: transparent;
    color: #0066db;
    border: 1px solid #0083db;
    padding: 12px 37px;
    border-radius: 12px;
}

/*Nav Bar Ends Here*/

/* Main area */

.imageMain{
    position: absolute;
    width: 100%;
    height: 85%;
    bottom: 0;
    right: 0;
    text-align: right;
}

.mainContent{
    padding-top: 140px;
}

/* Main Text */

.mainContent .main-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

.mainContent .main-text h1{
    font-size: 35px;
    line-height: 1;
    color: white;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 15px;
}

.mainContent .main-text p{
    max-width: 100%;
    width: 480px;
    color: #686586;
    line-height: 1.8;
    font-size: 14px;
    margin-bottom: 15px;
}

.mainContent .main-text .p2{
    max-width: 100%;
    width: 480px;
    display: inline-block;
    padding-left: 5px;
    color: #686586;
    line-height: 1.8;
    font-size: 14px;
    margin-top: 15px;
}

/* discord button */

.mainContent .main-text a{
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
    padding: 15px 30px;
}

/* glowing button */

.mainContent .main-text button {
    background: #3791f9;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    padding: 15px 30px;
    position: relative;
  }
.mainContent .main-text button::before {
    background: #379bf9;
    border-radius: inherit;
    content: '';
    filter: blur(5.5px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .mainContent .main-text button:hover::before {
    filter: blur(10px);
    opacity: 1;
  }

  @keyframes glow {
    0% {
      background: #37b2f9;
    }
    25% {
      background: #37c2f9;
    }
    100% {
      background: #37ccf9;
    }
  }

  .mainContent .main-text button:hover {
    animation: glow 1s ease-in infinite;
  }

/* BG Image */

.imageMain img{
    width: 660px;
    height: 460px;
    margin-bottom: -470px;
}

/* Main area ends here */

/* Pricing Plan */

:root {
    --container: 142rem;
    --primary: #509bfd;
    --primary1: #3c92f5;
    --text-dark: #ffffff;
    --light-dark: #637381;
    --box-shadow: 0 3.9rem 2.3rem -2.7rem rgba(0, 0, 0, 0.04);
    --btn-border: #3e5afa;
    --btn-border1: #4891ff;
    --devider: 0.1rem solid #f2f2f2;
    --transition: all 0.5s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.container {
    max-width: var(--container);
    margin: 0 auto;
    padding: 0 2rem;
}

.heading {
    font-size: clamp(2.8rem, 4.2vw, 4.2rem);
    color: var(--text-dark);
    font-weight: 700;
    display: flex;
    justify-content: center;
}

.subheading {
    display: flex;
    justify-content: center;
    font-size: 1.8rem;
    color: var(--primary);
    font-weight: 600;
}

.btn-action {
    margin-top: 3rem;
    width: 100%;
    padding: 1rem 3rem;
    border: 0.1rem solid var(--btn-border);
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.6rem;
    background: rgba(var(--btn-border), 0.5);
    color: var(--primary);
    transition: var(--transition);
}

.btn-action:hover {
    background: var(--primary);
    color: #022f4b;
}

.btn-action1 {
    margin-top: 3rem;
    width: 100%;
    padding: 1rem 3rem;
    border: 0.1rem solid var(--btn-border1);
    font-weight: 600;
    cursor: pointer;
    border-radius: 0.6rem;
    background: rgba(var(--btn-border1), 0.5);
    color: var(--primary1);
    transition: var(--transition);
}

.btn-action1:hover {
    background: var(--primary1);
    color: #0a0a1c;
}

.section-top {
    padding: 5rem 0;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

.section-top>p {
    text-align: center;
    width: 50%;
}

.pricing-table {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    place-items: center;
}

.pricing-item {
    max-width: 32rem;
    position: relative;
    padding: 3rem;
    width: 315px;
    height: 700px;
    border-radius: 2rem;
    margin-top: 40px;
    background-color: #0E0D24;
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.pricing-item::after {
    content: '';
    position: absolute;
    right: 0;
    top: 1rem;
    width: 6rem;
    height: 15rem;
}

.pricing-item .heading {
    padding: 1rem 0;
    display: inline-flex;
    align-items: center;
}

.pricing-item .text-secondary {
    padding-bottom: 2rem;
}

.pricing-item1 .main-text {
    box-sizing: border-box;
    position: absolute;
    width: 315px;
    height: 41px;
    left: -1px;
    display: flex;
    top: -40px;
    background: #2f7799;
    border-width: 1px 1px 0px 1px;
    border-style: solid;
    border-color: rgba(255, 255, 255, 0.1);
    border-radius: 15px 15px 0px 0px;
    justify-content: center;
    align-items: center;
    color: white;
    font-weight: 200;
}

.pricing-item1 {
    max-width: 32rem;
    position: relative;
    padding: 3rem;
    width: 315px;
    height: 700px;
    border-radius: 0rem 0rem 2rem 2rem;
    margin-top: 40px;
    background: linear-gradient(180deg, #192460 0%, #0d2353 100%);
    border: 1px solid rgba(255, 255, 255, 0.1);
    box-shadow: var(--box-shadow);
}

.pricing-item1::after {
    content: '';
    position: absolute;
    right: 0;
    top: 1rem;
    width: 6rem;
    height: 15rem;
}

.pricing-item1 .heading {
    padding: 1rem 0;
    display: inline-flex;
    align-items: center;
}

.pricing-item1 .text-secondary {
    padding-bottom: 2rem;
}

.text-secondary,
.pricing-item span {
    color: var(--light-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.pricing-item1 span {
    color: var(--light-dark);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 5px;
}

.list-items {
    padding-top: 2rem;
    display: flex;
    gap: 2rem;
    flex-direction: column;
}

.list {
    color: var(--light-dark);
}

.list1 {
    color: #4f95b5;
}

.nolist {
    color: transparent;
}

@media (max-width: 768px) {
    .section-top>p {
        width: 80%;
    }
}

@media (max-width: 375px) {
    .section-top {
        padding: 3rem 0;
    }
    .section-top>p {
        width: 100%;
    }
    .pricing-table {
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

/* Pricing Plan ends here */

/* FAQ */

.faqArea{
    height: 430px;
    width: 100%;
    background: #080715;
    position: relative;
    margin-bottom: 115px;
}

.faq-width{
    width: 1400px;
    max-width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: center;
}

.accordion .main-text{
    text-align: center;
    margin-bottom: 40px;
    margin-top: 69px;
}

.accordion .main-text h3{
    font-weight: 400;
    background: -webkit-linear-gradient(#509bfd, #3e9ffa);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
}

.accordion .main-text h1{
    color: #fff;
    font-weight: 500;
}

.accordion .main-text p{
    color: #686586;
}

.accordion .accordion-item {
    border-bottom: 1px solid #046481;
  }
  .accordion button {
    position: relative;
    display: block;
    text-align: left;
    width: 100%;
    padding: 1em 0;
    color: #7288a2;
    font-size: 1.15rem;
    font-weight: 400;
    border: none;
    background: none;
    outline: none;
  }
  .accordion button:hover,
  .accordion button:focus {
    cursor: pointer;
    color: #ffffff;
  }
  .accordion button:hover::after,
  .accordion button:focus::after {
    cursor: pointer;
    color: #18172C;
    border: 1px solid #18172C;
  }
  .accordion button .accordion-title {
    padding: 1em 1.5em 1em 0;
  }
  .accordion button .icon {
    display: inline-block;
    position: absolute;
    top: 18px;
    right: 0;
    width: 22px;
    height: 22px;
    border: 1px solid;
    border-radius: 22px;
  }
  .accordion button .icon::before {
    display: block;
    position: absolute;
    content: '';
    top: 9px;
    left: 5px;
    width: 10px;
    height: 2px;
    background: currentColor;
  }
  .accordion button .icon::after {
    display: block;
    position: absolute;
    content: '';
    top: 5px;
    left: 9px;
    width: 2px;
    height: 10px;
    background: currentColor;
  }
  .accordion button[aria-expanded='true'] {
    color: white;
  }
  .accordion button[aria-expanded='true'] .icon::after {
    width: 0;
  }
  .accordion button[aria-expanded='true'] + .accordion-content {
    opacity: 1;
    max-height: 9em;
    transition: all 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content {
    opacity: 0;
    max-height: 0;
    overflow: hidden;
    transition: opacity 200ms linear, max-height 200ms linear;
    will-change: opacity, max-height;
  }
  .accordion .accordion-content p {
    color: #686586;
    font-size: 1rem;
    font-weight: 300;
    margin: 2em 0;
  }
/* FAQ AREA ENDS HERE */

/* PLAN BOARD */

.roadMap{
    height: 286px;
    width: 100%;
    min-height: 100vh;
    background: #080715;
    position: relative;
}

.roadContent {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
}

.main-textB{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 40px 0 30px;
}

.main-textB{
    list-style: none;
    display: inline-block;
}

.roadContent .main-textB{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

.roadContent .main-textB h1{
    font-size: 25px;
    line-height: 1;
    color: white;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 15px;
}

.roadContent .main-textB p{
    max-width: 100%;
    width: 480px;
    color: #686586;
    line-height: 1.8;
    font-size: 15px;
    margin-bottom: 15px;
}

/* DONATIONS FlippedFN */

.donateContent{
    padding-top: 140px;
    display: flex;
}

.donateContent .donate-text{
    position: relative;
    z-index: 2;
    margin-bottom: 50px;
}

.donateContent .donate-text h1{
    font-size: 35px;
    line-height: 1;
    color: white;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 15px;
}

.donateContent .donate-text p{
    max-width: 100%;
    width: 480px;
    color: #686586;
    line-height: 1.8;
    font-size: 14px;
    margin-bottom: 15px;
}

.donateContent .donate-text .p2{
    max-width: 100%;
    width: 480px;
    color: #686586;
    line-height: 1.8;
    font-size: 14px;
    margin-top: 15px;
}

.donateContent .donate-text button {
    background: #37b2f9;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    padding: 15px 30px;
    position: relative;
  }
.donateContent .donate-text button::before {
    background: #37b2f9;
    border-radius: inherit;
    content: '';
    filter: blur(5.5px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .donateContent .donate-text button:hover::before {
    filter: blur(10px);
    opacity: 1;
  }

  @keyframes glow {
    0% {
      background: #3791f9;
    }
    25% {
      background: #37dcf9;
    }
    100% {
      background: #37dcf9;
    }
  }

  .donateContent .main-text button:hover {
    animation: glow 1s ease-in infinite;
  }

  .donateContent .reasonable{
    gap: 10px;
    display: grid;
  }

  .donateContent .reasonable .why{
    display: flex;
    gap: 30px;
    align-items: center;
    transition: all .3s ease-in-out;
  }

  .donateContent .reasonable .why:hover{
    background: rgba(21, 24, 36, 0.92);
    border-radius: 10px;
    padding: 20px;
    transition: all .3s ease-in-out;
  }

  .donateContent .reasonable .perk{
    display: flex;
    gap: 30px;
    align-items: center;
    transition: all .3s ease-in-out;
  }

  .donateContent .reasonable .perk:hover{
    background: rgba(21, 24, 36, 0.92);
    border-radius: 10px;
    padding: 20px;
    transition: all .3s ease-in-out;
  }

  .donateContent .reasonable .safe{
    display: flex;
    gap: 30px;
    align-items: center;
    transition: all .3s ease-in-out;
  }

  .donateContent .reasonable .safe:hover{
    background: rgba(21, 24, 36, 0.92);
    border-radius: 10px;
    padding: 20px;
    transition: all .3s ease-in-out;
  }

  .donateContent .reasonable .main-text h3{
    color: white;
    margin-bottom: 10px;
  }

  .donateContent .reasonable .main-text p{
    color: #686586;
  }

/* DONATIONS FlippedFN ENDS HERE */

/* Play Flipped Today */

.imagePlay{
    position: absolute;
    width: 100%;
    height: 85%;
    bottom: 0;
    right: 0;
    text-align: right;
    margin-bottom: 100px;
}

.imagePlay img{
    width: 800px;
    height: 460px;
}

.mainContent .main-text1{
    position: relative;
    z-index: 2;
    margin-bottom: -30px;
}

.mainContent .main-text1 h1{
    font-size: 35px;
    line-height: 1;
    color: white;
    font-weight: 700;
    font-family: 'DM Sans', sans-serif;
    margin-bottom: 15px;
}

.mainContent .main-text1 p{
    max-width: 100%;
    width: 480px;
    color: #686586;
    line-height: 1.8;
    font-size: 14px;
    margin-bottom: 15px;
}

.mainContent .main-text1 .p2{
    max-width: 100%;
    width: 480px;
    display: inline-block;
    padding-left: 5px;
    color: #686586;
    line-height: 1.8;
    font-size: 14px;
    margin-top: 15px;
}

/* discord button */

.mainContent .main-text1 a{
    display: inline-block;
    text-decoration: none;
    color: white;
    transition: all .3s ease-in-out;
    padding: 15px 30px;
}

/* glowing button */

.mainContent .main-text1 button {
    background: #37abf9;
    border: none;
    border-radius: 12px;
    color: white;
    cursor: pointer;
    padding: 15px 30px;
    position: relative;
  }
.mainContent .main-text1 button::before {
    background: #37a2f9;
    border-radius: inherit;
    content: '';
    filter: blur(5.5px);
    opacity: .75;
    position: absolute;
    transition: all .3s ease-in-out;
    width: 100%;
    height: 100%;
    top: 0;
    right: 0;
    z-index: -1;
  }

  .mainContent .main-text1 button:hover::before {
    filter: blur(10px);
    opacity: 1;
  }

  @keyframes glow {
    0% {
      background: #37c2f9;
    }
    25% {
      background: #37f9df;
    }
    100% {
      background: #37ccf9;
    }
  }

  .mainContent .main-text1 button:hover {
    animation: glow 1s ease-in infinite;
  }

.social{
    position: relative;
    display: flex;
    justify-content: center;
    z-index: 2;
    margin-top: 270px;
    padding-bottom: 40px;
    transition: .4s;
}

.mainContent .main-text2{
    text-align: center;
    position: relative;
    bottom: -260px;
    right: 12px;
}

.mainContent .main-text2 p{
    color: #686586;
}

.social p{
    display: flex;
}

.social a{
    display: inline-block;
    color: #686586;
    margin-right: 25px;
    font-size: 24px;
    transition: .4s;
}

.social a:hover{
    transform: scale(1.2);
    transition: .4s;
    color: #fff;
}

@media only screen and (max-width: 768px) {

    .TBD{
        display: flex;
    }

    .circle{
        border-radius: 50%;
        width: 500px;
        display: flex;
        justify-content: center;
    }

    .circle:before,
    .circle:after{
        content:'';
        height: 400px;
        width: 400px;
        background: linear-gradient(#d2d1ff 0%,#8827ff 5%,#150828 25%);
        border-radius: 50%;
        position: absolute;
        top: 42%;
        left: 50%;
        transform: translate(-50%,-50%);
        -webkit-filter: blur(7px);
        z-index: 1;
    }
    
    .circle:after{
        width: 415px;
        top: 35%;
        -webkit-filter: blur(14px);
        opacity: .3;
    }
    .NoSupport{
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        width: 100%;
        padding: 50px;
        height: 444px;
        border-radius: 15px;
        z-index: 1000;
    }

    .TBD .NoSupport h1{
        font-size: 35px;
        line-height: 1;
        color: white;
        font-weight: 700;
        font-family: 'DM Sans', sans-serif;
        margin-bottom: 15px;
    }

    .TBD .NoSupport p{
        max-width: 100%;
        width: 480px;
        color: #686586;
        line-height: 1.8;
        font-size: 14px;
        margin-bottom: 15px;
    }

    .NoSupport button {
        background: #9837F9;
        border: none;
        border-radius: 12px;
        color: white;
        cursor: pointer;
        padding: 15px 30px;
        margin-right: 15px;
        position: relative;
      }
    .NoSupport button::before {
        background: #9837F9;
        border-radius: inherit;
        content: '';
        filter: blur(5.5px);
        opacity: .75;
        position: absolute;
        transition: all .3s ease-in-out;
        width: 100%;
        height: 100%;
        top: 0;
        right: 0;
        z-index: -1;
      }
    
      .NoSupport button:hover::before {
        filter: blur(10px);
        opacity: 1;
      }

      .NoSupport .main-text2{
        text-align: center;
        position: relative;
        bottom: -260px;
        right: 12px;
    }
    
    .NoSupport .main-text2 p{
        color: #686586;
    }
    
      @keyframes glow {
        0% {
          background: #9837F9;
        }
        25% {
          background: #9837F9;
        }
        100% {
          background: #9837F9;
        }
      }
    
      .NoSupport button:hover {
        animation: glow 1s ease-in infinite;
      }

    .mainArea{
        display: none;
    }

    .pricing {
        display: none;
    }

    .faqArea {
        display: none;
    }

    .container {
        display: none;
    }
}
